[submodule "frappe-bench/apps/frappe"]
	path = frappe-bench/apps/frappe
	url = https://github.com/frappe/frappe.git
[submodule "frappe-bench/apps/erpnext"]
	path = frappe-bench/apps/erpnext
	url = https://github.com/frappe/erpnext.git
